.additional-products__title {
  font-family: $secondary-font;
  font-size: 24px;
  font-weight: 400;
}

.additional-products__list {
  list-style: none;
}

.additional-products__promo {
  background-color: #68b738;
}

.additional-products__promo-description {
  line-height: 20px;
  color: #ffffff;
}
