.advertising {
  color: $basic-white;
  text-align: center;
  background-color: $basic-green;
  padding-top: 27px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    position: relative;
    padding-bottom: 0;
  }
}

.advertising__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0 0 25px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: $basic-black;
    text-align: left;
    margin: 13px 0 40px 90px;
  }
}

.advertising__description {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0 0 29px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: $basic-black;
    text-align: left;
    margin: 0 0 21px 91px;
  }
}

.advertising__image {
  width: 280px;
  height: 270px;
  display: block;
  margin: 0 auto 3px;

  @media (min-width: $tablet-width) {
    width: 709px;
    height: 609px;
    margin: 0;
  }
}

.advertising__link {
  padding: 10px 63px;

  @media (min-width: $tablet-width) {
    padding: 14px 28px;
    font-size: 20px;
    line-height: 26px;
    position: absolute;
    top: 268px;
    left: 120px;
  }
}
