.contacts {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 26px;
  padding-bottom: 26px;
  justify-content: space-between;
}

.contacts__with__background {
  background-color: $basic-grey;
}

.contacts__invitation {
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  max-width: 140px;
}

.contacts__address {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 20px;
  color: $special_dark-grey;
  font-style: normal;
}
