.main-header__logo-link {
  text-decoration: none;
}

.main-header__nav-list {
  list-style: none;
}

.main-header__nav-link {
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  font-size: 20px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

