.page-footer {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }
}

.page-footer__container {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
}

.page-footer__logo-name {
  width: 128px;
  height: 100%;
  display: block;
}

.page-footer__partner {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.page-footer__partner-link {
  font-family: $secondary-font;
  line-height: 34px;
  color: $special_dark-grey;
  text-decoration: none;
  display: inline-block;

  svg {
    color: #666666;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &:hover {
    color: $basic-green;
  }

  &:hover svg {
    color: $basic-green;
  }

  &:active {
    color: $basic-green;
    opacity: 0.3;
  }

  &:active svg {
    color: $basic-green;
    opacity: 0.3;
  }
}

