.page-footer__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo-name {
  width: 128px;
  height: 100%;
  display: block;
  margin: 0 0 40px;
}

.page-footer__partner {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  margin-bottom: 40px;
}

.page-footer__partner-link {
  font-family: $secondary-font;
  line-height: 20px;
  color: $special_dark-grey;
  text-decoration: none;
  display: inline-block;

  svg {
    color: #666666;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &:hover {
    color: $basic-green;
  }

  &:hover svg {
    color: $basic-green;
  }

  &:active {
    color: $basic-green;
    opacity: 0.3;
  }

  &:active svg {
    color: $basic-green;
    opacity: 0.3;
  }
}

