.product-cards__container {
  padding-top: 27px;
  padding-bottom: 25px;
  position: relative;
  border-top: 1px solid #d9d9d9;

  &::after {
    content: "";
    display: block;
    width: calc(100% + 40px);
    height: 1px;
    background-color: #ebebeb;
    position: absolute;
    left: -20px;
    bottom: 25px;
  }
}

.product-cards__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0 0 41px;
}

.product-cards__list {
  display: grid;
  gap: 0 25px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.product-cards__item {
  display: grid;
  grid-template-columns: 140px 1fr;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 25px;
  gap: 10px 0;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: calc(100% + 40px);
    height: 1px;
    background-color: #ebebeb;
    position: absolute;
    top: 0;
    left: -20px;
  }
}

.product-cards__image {
  display: block;
  margin: 10px auto;
}

.product-cards__image-chicken-500 {
  width: 68px;
  height: 86px;
}

.product-cards__image-chicken-1000 {
  width: 84px;
  height: 100px;
}

.product-cards__image-catalog-fish-500 {
  width: 68px;
  height: 78px;
}

.product-cards__image-catalog-fish-1000 {
  width: 84px;
  height: 100px;
}

.product-cards__image-catalog-buckwheat-500 {
  width: 68px;
  height: 78px;
}

.product-cards__image-catalog-buckwheat-1000 {
  width: 84px;
  height: 100px;
}

.product-cards__image-catalog-rice-500 {
  width: 72px;
  height: 84px;
}

.product-cards__link {
  text-decoration: none;
}

.product-cards__link-image {
  display: grid;
  grid-row: span 2;
}

.product-cards__description {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: $special_dark-grey-2;
  font-weight: 400;
  text-transform: uppercase;
}

.product-cards__characteristics {
  display: grid;
  grid-template-columns: auto 1fr;
  font-size: 14px;
  margin: 0;
}

.product-cards__parameter,
.product-cards__value {
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
  color: $special_dark-grey;
}

.product-cards__value {
  margin-left: auto;
}

.product-cards__button {
  padding: 10px 0;
  grid-column: span 2;
  width: 100%;
}
