.show-more__title {
  font-family: $secondary-font;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}

.show-more__description {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
